.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

.container-body{
  text-align: center;
  width: 800px;
}


@media (max-width: 760px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 350px;
  }
}

.sophie img {
width:435px;
height: 400px;
object-fit: cover;
position: center;
border-radius: 8px;
background-position: center;
}

.sophie{
  background-color: white;
  padding: 12px;
  padding-bottom: 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-right: 12px;
  margin-left: 20px;
  flex-basis: 240px;
  flex-grow: 1;
}

.sophie h5 {
  opacity: 90%;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.sophie p {
opacity: 60%
}

.sophie li {
  opacity: 40%;
}

.sophie a {
  color: #80946F;
}

.sophie:hover {
  background-color: white;
  color:#80946F;
  transition: 0.5s;
}

.Igor{
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-right: 12px;
  flex-basis: 240px;
  flex-grow: 1;
  padding-bottom: 30px;
}

.Igor h5 {
  opacity: 90%;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.Igor p {
opacity: 60%
}

.Igor li {
  opacity: 40%;
}

.Igor a {
  color: #80946F;
}

.Igor:hover {
  background-color: white;
  color:#80946F;
  transition: 0.5s;
}

.Alice{
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-right: 12px;
  flex-basis: 240px;
  flex-grow: 1;
  padding-bottom: 30px;
}

.Alice h5 {
  opacity: 90%;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.Alice p {
opacity: 60%
}

.Alice li {
  opacity: 40%;
}

.Alice a {
  color: #80946F;
}

.Alice:hover {
  background-color: white;
  color:#80946F;
  transition: 0.5s;
}

.Igor img {
width:435px;
height: 400px;
object-fit: cover;
border-radius: 8px;
background-position: center;
}

.Alice img {
width:435px;
height: 400px;
object-fit: cover;
border-radius: 8px;
background-position: center;
}

.container-adoption {
display: flex;
margin-top: 50px;
margin-bottom: 20px;
}

.sponsortxt p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
}
